<launch>
      
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch"/> -->

    <param name='vision_config' value='$(find wizzybug_vision)/config/vision_config_front.json' />

    <node name="obstacle_detector" pkg="wizzybug_vision" type="wizzybug_vision.py" output="screen"></node>
<!--    <node name="image_converter" pkg="wizzybug_vision" type="image_converter.py"></node>-->

    <!-- Audio -->
    <!-- node name="play_sound" pkg="wizzybug_sound" type="play_sound.py" / -->
    <param name='bell_sound' value='$(find wizzybug_sound)/sound/Alert.wav' />

    <!-- <node name="detectnet" pkg="ros_deep_learning" type="detectnet"> -->
    <!-- <remap from="/detectnet/image_in" to="/image_topic_bgr8_camera"/> -->
    <!-- <param name = "model_name" value ="fcn-resnet18-sun-512x400"/> -->
    <!-- </node> -->
    
</launch>
