<launch>
  <arg name="serial_no_camera1"    			default="851112060198"/>
  <arg name="serial_no_camera2"    			default="851112062252"/>
  <arg name="serial_no_camera3"    			default="851112062250"/>
  <arg name="serial_no_camera4"    			default="851112062252"/>

  <arg name="camera1"              			default="front_camera"/>
  <arg name="camera2"              			default="left_camera"/>
  <arg name="camera3"              			default="rear_camera"/>
  <arg name="camera4"              			default="right_camera"/>

  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
  <arg name="tf_prefix_camera3"         default="$(arg camera3)"/>
  <arg name="tf_prefix_camera4"         default="$(arg camera4)"/>
  <arg name="initial_reset"             default="false"/>

  <arg name="realsense_settings_file_path"            default="$(find wizzybug_vision)/config/realsense_settings.json"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="depth_fps"           default="15"/>
      <arg name="infra_fps"           default="15"/>
      <arg name="color_fps"           default="15"/>
      <arg name="json_file_path"         value="$(arg realsense_settings_file_path)"/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="depth_fps"           default="15"/>
      <arg name="infra_fps"           default="15"/>
      <arg name="color_fps"           default="15"/>
      <arg name="json_file_path"         value="$(arg realsense_settings_file_path)"/>
    </include>
  </group>

  <group ns="$(arg camera3)" if="$(eval serial_no_camera3 != '')">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera3)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera3)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="depth_fps"           default="15"/>
      <arg name="infra_fps"           default="15"/>
      <arg name="color_fps"           default="15"/>
      <arg name="json_file_path"         value="$(arg realsense_settings_file_path)"/>
    </include>
  </group>

  <group ns="$(arg camera4)" if="$(eval serial_no_camera4 != '')">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera4)"/>
      <arg name="tf_prefix"		          value="$(arg tf_prefix_camera4)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="depth_fps"           default="15"/>
      <arg name="infra_fps"           default="15"/>
      <arg name="color_fps"           default="15"/>
      <arg name="json_file_path"         value="$(arg realsense_settings_file_path)"/>
    </include>
  </group>
</launch>
