<launch>
      
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

    <node name="obastacle_detector" pkg="wizzybug_perception" type="object_detection.py" output="screen"></node>


    <!-- <node name="image_converter" pkg="wizzybug_perception" type="image_converter.py"></node> -->
    

    <!-- <node name="detectnet" pkg="ros_deep_learning" type="detectnet"> -->
    <!-- <remap from="/detectnet/image_in" to="/image_topic_bgr8_camera"/> -->
    <!-- <param name = "model_name" value ="fcn-resnet18-sun-512x400"/> -->
    <!-- </node> -->
    
</launch>
